[build-system]
requires = ["maturin>=0.12,<0.13"]
build-backend = "maturin"

[project]
name = "ucbfl_utils"
requires-python = ">=3.6"
readme = "README.md"
dynamic = ["version"]
classifiers = [
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
]


[tool.maturin]
bindings = "pyo3"
manifest-path = "crates/ucbfl_utils/Cargo.toml"
python-source = "python"
strip = true
